/* Common styles that will be used across the entire website */
body {
    background-color: #fff;
    font-family: Blinker, Verdana, Tahoma, sans-serif;
    color: rgb(22, 22, 22);
    margin: 0px;
}

#hours div {
    margin-left: 10px;
}

h1 {
    font-family: Anton SC, sans-serif;
}

.navbar {
    /* Navbar styles go here */
    background-color: rgb(255, 202, 6);
    color: black;
    text-align: center;
    position: sticky;
    top: 0;
    padding: 20px;
    margin-bottom: 20px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        /* overflow: hidden; */
    }
    a {
        color: black;
        text-decoration: none;
    }
    li {
        display: inline;
        padding: 5px 5%;
        border: 2px outset black;
    }
}

.logo {
  width: 75px;
  height: 75px;
  object-fit: cover;
  float: left;
}

.menu {
    width: 75px;
    height: 75px;
    object-fit: cover;
    float: right;
    display: none;
}

input[type='checkbox'], label {
    display: none;
}

@media only screen and (max-width: 992px) {
    /* Mobile styles */
    .menu {
        display: inline;
    }
    nav label {
        text-align: right;
        display: block;
        padding: 0.5em;
        line-height: 1.6em;
        align-self: center;
    }
    .navbar {
        position: sticky;
        top: 0;
        padding: 20px;
        margin-bottom: 20px;
        ul {
            display: none;
        }
        a {
            color: black;
            text-decoration: none;
        }
        li {
            display: inline;
            padding: 5px 5%;
            border: 2px outset black;
        }
    }
}